<%- include("header-en") -%>

<div id="bannerSpace">

  </div>

<div class="contentDiv">

<div class="grid">

<div class="sixtypc">

<p>

  Hello! <br />
<br />
My name is Ben, and I am a native British English speaker living in Nagano.

I`m originally from Canterbury, in the south east of the U.K., but moved to Japan in 2014 to start teaching English.
I`ve lived in several places throughout the country, but finally settled on Nagano for its beautiful scenery and peaceful country life.

<br />
<br />

I enjoy making things in my free time, such as furniture, games, food or pictures. In fact, all of the textbooks, games and pictures you`ll find on
this website were created by me. If you have suggestions for other things you`d like to see, feel free to contact me, and I`ll do my best to implement them.

<br />
<br />

I`m available 24/7 at myemail@myemail.com, and you can feel free to contact me in either English or Japanese.
</p>
  </div>
<div class="thirtypc">
    <img class="smallright" src="/images/001.png" />
  </div>
  </div>
  </div>







<%- include("footer-en") -%>
