<%- include("header-jp") -%>

<div id="bannerSpace">

  </div>

<div class="contentDiv">

<div class="grid">

<div class="sixtypc">

<p>

  Hello! <br />
<br />
私の名前はベンです。イギリス人で長野県に住んでます。

１９８９年、イギリス南東のカンタベリーで生まれました。
２０１４年、日本へ来て英語教師を始めました。日本に来てからは色々な所に住みましたが、最終的に長野県に住むことに決めました。
きれいな景色に囲まれながら平和な田舎ライフを送ってます。

<br />
<br />

趣味はモノづくり、家具やゲームなどつくります。料理も大好きでパイやパン、スコーン等いろいろなものをつくります。
実はこのHPのゲームやテキストなども全て自分でつくっています。何か作ってほしいものがあれば、いつでも気軽に言ってください！できる範囲で頑張ります！

<br />
<br />

２４時間いつでもお気軽にお問合せください！日本語でも英語でもOKです。
EMAIL: benpearson61@googlemail.com
</p>
  </div>
<div class="thirtypc">
    <img class="smallright" src="/images/001.png" />
  </div>
  </div>
  </div>







<%- include("footer-jp") -%>
