<%- include("header-en") -%>

<div class="main">
<h1>Welcome to the games page!</h1>


<div class="contentDiv">
  <div class="grid">

    <div class="sixtypc">
<a href="/en/breakout"> Breakout</a>
      </div>
      <div class="thirtypc">
          <img class="smallright" src="/images/001.png" />
        </div>
  </div>

  </div>

  <div class="contentDiv">
  Other games are currently under construction. Please check back soon!

    </div>

  </div>




<%- include("footer-en") -%>
