<%- include("header-en") -%>

<div id="bannerSpace">

  </div>

<div class="main">
  <h1>Lesson Fee</h1>
</div>
<div class="contentDiv">
  <div class="grid">

    <div class="sixtypc">


  <p>
    A variety of Lessons are available, both in person, and online (via zoom conference calls). I can provide both private and group lessons depending on the wishes of the individual.

    Both premade courses, and lesson plans tailored to particular goals (such as passing particular exams etc) are possible.

    <br />
    <br />

    Lessons cost 3000 yen per hour, although discounts are available for people wishing to take more than one lesson a week, for multiple people in the same household or for other reasons at my disgression. Please contact me for consultation.

    </p>
  </div>
    <div class="thirtypc">
      <img class="smallright" src="/images/002.png" />
    </div>
  </div>
  </div>








<%- include("footer-en") -%>
