<%- include("header-jp") -%>

<div id="bannerSpace">

  </div>

<div class="main">
  <h1>レッスン手数料</h1>
</div>
<div class="contentDiv">
  <div class="grid">

    <div class="sixtypc">


  <p>
    実際にお会いしてのレッスンやオンラインでのレッスン、みなさまに合わせていろいろな形でのレッスンが可能です。
    また、個々の希望に合わせて1対1のプライベートレッスン、グループでのレッスンもできます。
    テキストを利用してのレッスンもできますが、英検やTOEICなど目的に合わせたレッスンを行います。


    <br />
    <br />

    【レッスン料】基本は１時間3500円 <br />
    【レッスン料】基本は45分間2500円 <br />
    【レッスン料】基本は30分間2000円 <br />
    <br />
    【グループレッスン料（3人以上】基本は１時間1800円 <br />
<br />

    ※もし１週間に２回のレッスン、または二人目がご兄弟やご家族の方の場合はディスカウントをさせていただきます。
    詳しくはご相談ください！
    </p>
  </div>
    <div class="thirtypc">
      <img class="smallright" src="/images/002.png" />
    </div>
  </div>
  </div>








<%- include("footer-jp") -%>
